/*  logo-studio in header: #000000;
    hero-section and footer bg: #2F303A; 
    section our team bg: #F5F4FA;
    footer mail and tel color: rgba(255, 255, 255, 0.6);
    ?strange line between header and hero section with color #ECECEC
*/
:root {
    --primary-color: #757575; /*MAIN COLOR nav-address, text*/
    --secondary-color: #212121; /*nav-link, section titles*/
    --accent-color: #2196F3; /*accent*/
    --bg-color: #FFFFFF; /*bg, hero-title, team-item, footer post address, logo-studio in footer*/
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    background-color: var(--bg-color);
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*========HEADER========*/
.header,
.header-nav {
    display: flex;
    align-items: center;
}
.header {
    border-bottom: 1px solid #ECECEC;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-web {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
    margin-left: 93px;
}
.nav-list-item + .nav-list-item {
    margin-left: 50px;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;   
    color: var(--secondary-color);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
.nav-link.current {
    color: var(--accent-color);
}

.nav-contact-list {
    display: flex;
    margin-left: auto;
}
.nav-contact-item:not(:last-child) {
    margin-right: 50px;
}
.nav-contact-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}
.nav-contact-link:hover,
.nav-contact-link:focus {
    color: var(--accent-color)
}

/*=======HERO SECTION=======*/
.hero-section {
    background-color: #2F303A;   
    text-align: center;
}
.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em; 
    text-transform: uppercase;
    color: var(--bg-color);
}
.hero-button {
    padding: 10px 32px;
    /* font-family: inherit; exists in modern-norm.css*/
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--bg-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

/*=======PECULIARITIES SECTION=======*/
.peculiarities-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.peculiarities-list {
    display: flex;
    flex-wrap: wrap;
}
.peculiarities-list-item {
    width: 270px;
}
.peculiarities-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}
.peculiarities-title {
    margin-bottom: 10px; 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.peculiarities-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*=======WHAT WE DO SECTION=======*/
.occupation-section {
    padding-bottom: 94px;
}
.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-color);
}
.occupation-list {
    display: flex; 
    justify-content: space-between;  
}
.occupation-list-img {
    display: block;
}
/*=======OUR TEAM SECTION=======*/
.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
}
.team-list {
    display: flex;
}
.team-item {
    padding-bottom: 30px;
    background-color: var(--bg-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.team-item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
.team-image {
    margin-bottom: 30px;
    display: block;
}
.team-title {
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--secondary-color);
}
.team-title,
.team-text {
    text-align: center;
}


/*=======FOOTER=======*/
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #2F303A;
}
.logo-studio {
    color: var(--bg-color);
}
.footer-address {
    margin-top: 20px;
    font-style: inherit;
}
.footer-address-item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-contact {
    font-size: 14px; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}
.post-address {
    color: var(--bg-color);
}

/*=======PORTFOLIO=======*/
.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.filter-button-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.filter-button {
    padding: 6px 22px;
    /* font-family: inherit; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    background-color: #F5F4FA;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
}
.filter-button:hover,
.filter-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--accent-color);
    color: var(--bg-color);
}
.filter-button-item:not(:last-child) {
    margin-right: 8px;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item {
    width: calc((100% - 60px) / 3);
}
.portfolio-item-border {
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}
.portfolio-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)){
    margin-bottom: 30px;
}
.portfolio-img {
    display: block;
}
.portfolio-title {
    margin-left: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
}
.portfolio-text {
    margin-left: 24px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}